
:root{
    font-family: Arial, Helvetica, sans-serif;
    --translate-positive: 20px;
    --translate-negative:-20px;
}


body{
    margin: 0;
    padding: 16px 16px;
    background: grey;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 32px 0;
    display: grid;
    place-items: center;
}


/* Animation 1 */
.perspective{
    background: black;
    width: 100px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-45deg, 0deg) translate(0px, 10px);
    border-radius: 4px;
    animation: translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes translate{
    100% {
        transform:skew(-45deg, 0deg)  translate(20px, 30px);
        box-shadow: 20px 20px 10px 5px #4801016b;
    }
}


/* ANIMATION 2 */

.progress{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.progress__bar{
    height: 8px;
    border-radius: 8px;
    background: blueviolet;
    position: relative;
    overflow: hidden;
}

.progress__bar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: yellow;
    animation-fill-mode: forwards;
    animation-name: fill;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes fill {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.progress__bar:nth-child(1)::after{
    animation-delay: 0s;
}

.progress__bar:nth-child(2)::after{
    animation-delay: 2s;
}

.progress__bar:nth-child(3)::after{
    animation-delay: 4s;
}

.progress__bar:nth-child(4)::after{
    animation-delay: 6s;
}



/* ANIMATION 3 */

.balls{
    background: yellow;
    width: 50px;
    height: 50px;
    position: relative;
    display: grid;
    place-items:center;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.child--circle{
    width: 16px;
    height: 16px;
    background: blue;
    border-radius: 100%;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.child--circle:nth-child(1){
    transform: translate(var(--translate-negative), var(--translate-negative));
    background: orange;
}

.child--circle:nth-child(2){
    transform: translate(var(--translate-positive), var(--translate-negative));
    background: pink;
}

.child--circle:nth-child(3){
    transform: translate(var(--translate-negative), var(--translate-positive));
    background: green;
}

.child--circle:nth-child(4){
    transform: translate(var(--translate-positive), var(--translate-positive));
    background: purple;
}

@keyframes move {
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
    
}


/* ANIMATION 4 */

.letters {
    display: flex;
    gap: 12px;
    font-size: 40px;
    font-weight: 800;
}

.typo{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 5px);
    }

}

.typo:nth-child(1){
    animation-delay: 0.5s;
}

.typo:nth-child(2){
    animation-delay: 1s;
}

.typo:nth-child(3){
    animation-delay: 1.5s;
}

.typo:nth-child(4){
    animation-delay: 2s;
}

.typo:nth-child(5){
    animation-delay: 2.5s;
}

.typo:nth-child(6){
    animation-delay: 3s;
}


/* ANIMATION 5 */

.strip{
    height: 60px;
    width: 100%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    display: flex;
    align-items: center;
    position: relative;
}

.box {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    background: yellow;
    animation-name: go-to-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.box:hover {
    animation-play-state: paused;
}

@keyframes go-to-end {
    to {
        left: calc(100% - 40px);
    }
}